<%# Because we need to shift 'messy' code from one file to another %>
<%# Also, be aware that the instance variable is predefined! %>
<div class="event">
  <div class="content">
    <div class="summary">                  
      <em><%= message.user.username %></em>: <%= message.body %>
    </div>
  </div>
</div>