<div class= "ui segment container basic">

  <h2 class="ui icon header center aligned">
    <i class="circular users icon pink inverted"></i>
    Say something!
  </h2>

  <div class= "ui grid">

    <div class= "column twelve wide">

      <div class= "ui card raised fluid chatbox">
        <div class= "content">
          <div class="ui feed">
            <%= render @messages %>
          </div>
        </div>
        
        <div class= "content extra">
          <%= form_with scope: :message, class: "ui reply form", url: message_path, data: { turbo: false } do |f| %>
            <div class= "field">
              <div class="ui icon input fluid">
                <%= f.text_field :body %>
                <%= f.button '<i class="comments link icon"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class= "column four wide">
      <div class= "ui card raised chatbox">
        <div class= "content">
          <div class="ui menu fluid inverted vertical tall">
            <a class="item active">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>