<div class= "ui segment container basic">

  <h2 class="ui icon header center aligned">
    <i class="circular users icon pink inverted"></i>
    Say something!
  </h2>

  <div class= "ui grid">

    <div class= "column twelve wide">

      <div class= "ui card raised fluid chatbox">
        <%# This will need to accommodate for scrolling %>
        <div class= "content" id= "messages">
          <div class= "ui feed" id= "message-container">
            <%# This renders the messages/_message partial %>
            <%# and creates an instance variable 'message' %>
            <%# to be used in the partial to access the class %>
            <%= render @messages %>
          </div>
        </div>
        
        <div class= "content extra">
          <%# method: :post %>
          <%# url: message_path %>
          <%# Use the model: Model_Name so Rails can infer the route and method %>
          <%= form_with model: Message, class: "ui reply form" do |f| %>
            <div class= "field">
              <div class="ui icon input fluid">
                <%= f.text_field :body %>
                <%#= f.button '<i class="comments link icon"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class= "column four wide">
      <div class= "ui card raised chatbox">
        <div class= "content">
          <div class="ui menu fluid inverted vertical tall">
            <a class="item active">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>