/* @import "fomantic-ui-css/semantic.min.css"; */

.chatbox {
  height: 450px;
}

.tall {
  height: 100%;
}

.debug {
  border: 1px solid red !important;
}

#messages {
  height: 15em;
  overflow: auto;
}


@media (width <= 780px) {
  .hideself-vert {
    display: none !important;
  }
}

@media (width > 780px) {
  .hideself-hori {
    display: none !important;
  }
}
